
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitpub App</title>
    <style type="text/css">
        body {
          color: #2C335B;
          background-color: white;
          text-transform: capitalize;
        }
        a:link {
            color: cadetBlue;}
        a:visited {
            color: cadetBlue;}
    </style>
  </head>


  <body>
    <h1>At foo bar</h1>
    <h2> <%= foods.name %> </h2>
    <h3> $ <%= foods.price %> </h3>
    <img src= "<%= foods.image %>.jpg" >

    <h4><a href="/food">Back to Index</a></h4>

  </body>
</html>