<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitpub App</title>
    <%- include('../views/partials/head'); %>
    <style type="text/css">
        body {
          color: cornsilk;
          background-color: #2C335B;
          text-transform: capitalize;
        }
        a:link {
            color: black;}
        a:visited {
            color: cadetBlue;}
        a:hover {
            color: cadetBlue;}
    </style>
  </head>


  <body>
    <h1>Welcome to gitpub</h1>
    <header>
        <%- include('../views/partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <ul>
                <% for (let x = 0; x < allFoods.length; x++) { %>
                <li>
                    <a href="/food/<%=x%>"><%=allFoods[x].name %></a>
                </li>
                <% } %>
            </ul>
        </div>
    </main>
  </body>
</html>